#typegauge-panel {
  -moz-appearance: none;
  background-color: transparent;
  border-width: 0px;
}

#typegauge {
  padding: 10px;
  margin: 10px;
  height:35px;
  background: rgba(0%, 0%, 0%, 0.8);
  -moz-border-radius: 5px;
  color:white;
}

#typegauge dl {
  width:100%;
}

#typegauge dl {
  margin:0;
  padding:0;
  float:right;
}

#typegauge dt, #typegauge dd {
  display:table-cell;
  width:30px;
}

#typegauge dt {
  color:#e3e3e3;
  font: normal 11px Arial,sans-serif;
  text-transform:uppercase;
  padding-right:1em;
  line-height:20px;
}

#typegauge dd {
  color:white;
  font: bold 13px Arial,sans-serif;
  padding-right:2em;
  width:50px;
  line-height:20px;
}

#typegauge .tg_tag {
  font-family: Monaco, monospace !important;
  text-transform:lowercase !important;
  width:100px !important;
  color:red !important;
}

/*#typegauge .tg-tag:before {
  content:'<';
}

#typegauge .tg-tag:after {
  content:'>';
}*/
