#typegauge-panel {
  -moz-appearance: none;
  background-color: transparent;
  border-width: 0px;
}

#typegauge {
  padding: 10px 15px 6px;
  margin: 10px;
  background: rgba(0%, 0%, 0%, 0.8);
  -moz-border-radius: 5px;
  color:white;
}

#typegauge dl {
  width:100%;
}

#typegauge dl {
  margin:0;
  padding:0;
  float:right;
}

#typegauge dt, #typegauge dd {
  display:inline-block;
  height:20px;
}

#typegauge dt {
  color:#e3e3e3;
  font: normal 11px Arial,sans-serif;
  text-transform:uppercase;
  margin-right:20px;
}

#typegauge dd {
  color:white;
  font: bold 13px Arial,sans-serif;
  width:50px;
  margin-right:40px;
}

#typegauge dd:last-child {
  margin-right:0;
}

#typegauge #tg-tag-value {
  font-family: Monaco, monospace !important;
  text-transform:lowercase;
}
